body {
	width: 800px;
	margin: 0 auto;
	}

header, 
footer {
	height: 100px;
	clear: both;
	margin: 10px 0;
	position: relative;
}

#header_inset {
	height: 100px;
	width: 200px;
}

#navigation {
	position: absolute;
	right: 0;
	margin: 30px 0px 30px;
}

li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin: 0 0 0 15px;
	width: 80px;
	padding: 10px 0;
	height: 30px;
}

article {
	height: 350px;
	width: 800px;
	margin: 0 0 10px 0;
}

.right_sidebar {
	float: right;
	display: block;
	width: 260px;
	height: 175px;
}

.left_sidebar {
	float: left;
	display: block;
	width: 260px;
	height: 175px;
}

section {
	float: right;
	height: 175px;
	width: 260px;
	margin: 0 10px;
}