body {
	width: 800px;
	margin: 0 auto;
	}

header,
footer {
	height: 200px;
	clear: both;
	margin: 10px 0;
}

.right_sidebar {
	float: right;
	display: block;
	width: 200px;
	height: 175px;
}

.left_sidebar {
	float: left;
	display: block;
	width: 200px;
	height: 175px;
}

section {
	float: right;
	height: 175px;
	width: 380px;
	margin: 0 10px;
}