h1 {
	background:red;
	border: 3px dotted black;
	padding: 15px 5px 0;
	text-align: center;
}
p {
	background: blue;
	color: white;
	padding: 23px 10px 6px;
}
code {
	background: white;
	color: black;
	padding: 3px 5px;
	border: 1px solid red;
}
h2 {
	color: green;
	padding: 20px;
}
ol {
	font-style: bold;
}
li {
	color: purple;
	font-size: 24px;
	line-height: 50px;
}